.NameCont{
    width: 70%;
}
.ImgCont{
    width: 30%;
}
.ImgCont, .NameCont
{
    text-align: center;
    align-content: center;
}@media(max-width: 800px){
    img{
        display: none;
    }
}
