<div class="topic"><span>O Mnie:</span><fa-icon [icon]='faTopicIcon'></fa-icon></div>
<p>Poszukuje pracy gdzie mógłbym się rozwijać, uczyć się nowych rzeczy. Chętnie rozwijam horyzonty, czego przykładem może być własnie programistyka.
    Zajęcie, które było odszkocznią stało się moją pasją i liczę, że uda mi się w przyszłości na tej pasji zarobić.
</p>
<p>Wolny czas nierzadko spędzam na amatorkim kolarstwie, spotkaniach ze znajomymi oraz na właśnie kodowaniu, tak dla czystej przyjemności.
Ponadto lubię dobry film oraz herbatę, najlepiej w tym samym czasie
</p>