<div class="topic"><span>Czego chcę się nauczyć:</span><fa-icon [icon]='faTopicIcon'></fa-icon></div>
<p>
    Planuję nauczyć się TypeScript, doskonalić swoje umiejętności w Angularze, poznać założenia innych frameworków (Vue albo React), nauczyć się kożystania z Node.js.
    Chcę też nauczyć się wykorzystywać API oraz technologię <abbr title="Progressive Web App">PWA</abbr> do tworzenia jeszcze lepszych Aplikacji oraz technikę mobile first do tworzenia Stylów specjalnie na urządzenia przenośne
</p>

