
div{
    display: block;
    margin: auto;
    width: 1000px;
}
app-header{
    background-image: linear-gradient(to right, hsl(200, 100%, 80%), hsl(220, 100%, 60%) );
    display: block;
    padding: 20px;
    text-align: right;
    color: hsl(100, 100%, 90%);
    border-radius: 5px;
    margin-bottom: 40px;
}

app-about-me, app-my-skills,app-learning{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 10px 5px 5px hsl(220, 100%, 15%)
}