
main{
    border-radius: 5px;
    box-sizing: content-box;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    width: 1500px;
    padding: 50px;
    background-color: var(--element-color--);
}
a{
    text-decoration: none;
    color: var(--font-color--)
}

app-header, app-footer{
    margin: 0;
    background-color: var(--first-color--);
    color: var(--font-color--);
    width: 100vw;
}
app-header{
    display: Flex;
    justify-content: flex-start;
    padding: 7px;
}
app-footer{
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
}
nav button{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 20px;
    background-color: var(--first-color--);
    color: var(--font-color--);
    border: var(--font-color--) 2px solid;
    transition: background-color 200ms ease-in-out;
}
nav button:hover, nav button:focus{
    background-color: var(--font-color--);
    color:var(--backgrounf-color--);
}
.infoCont{
    display: flex;
    width: 50vw;
    overflow-x: hidden;
    color: white;
    font-size: 1.3rem;
    
}
.mover{
    height: 100%;
    width: 80%%;
    display: flex;
}
.infoCont div{
    display:flex;
    min-width: 100%;
    align-items:center;
}
.el1,.el2,.el3,.el4{
    transition: transform .5s ease-in-out;
    will-change: transform;
}
.el1{
    transform: translateX(0);
}
.el2{
    transform: translateX(-100%);
}
.el3{
    transform: translateX(-200%);
}
.el4{
    transform: translateX(-300%);
}
@media(max-width: 1700px){
    
    main{
    width: 100vw;
    margin: 70px 0 0 0;
    }
    .infoCont{
        width: 100vw;
        margin-left: 10px;
    }
}
@media (max-width: 1500px){
    main{
        width: 100vw;
        margin: 0;
        display: block;
        padding: 0;
    }
    nav{
        flex-direction: row;
        width: 100%;
    }
    nav button{
        border: none;
        width: 25%;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
    .infoCont{
        width: 100%;
    }
}
@media (max-width: 800px)
{
    
    app-header{
        font-size:15px;
    }
    nav button{
        font-size: 15px;
    }
    fa-icon{
        display: none;
    }
    .infoCont{
        font-size: 10px;
        padding: 0;
    }
}