<app-header></app-header>

<main>
    <nav>
            <button  (click) ="test(mover, 'el1')">{{Sections[0]}}<fa-icon [icon]= faicons[0]></fa-icon></button>
            <button  (click) ="test(mover, 'el2')">{{Sections[1]}}<fa-icon [icon]= faicons[1]></fa-icon></button>
            <button  (click) ="test(mover, 'el3')">{{Sections[1]}}<fa-icon [icon]= faicons[2]></fa-icon></button>
            <button  (click) ="test(mover, 'el4')">{{Sections[1]}}<fa-icon [icon]= faicons[3]></fa-icon></button>
    </nav>
    <div #contents class="infoCont">
        <div #mover class = "mover e1">
            <div>
                <section #AboutMe>
                    <p>
                        Poszukuje pracy gdzie mógłbym się rozwijać, uczyć się nowych rzeczy. Chętnie poszerzam horyzonty, czego przykładem może być własnie programistyka.
                        Zajęcie, które było odszkocznią stało się moją pasją i liczę, że uda mi się w przyszłości na tej pasji zarobić.
                    </p>
                    
                    <p>
                        Wolny czas nierzadko spędzam na amatorkim kolarstwie, spotkaniach ze znajomymi oraz na właśnie kodowaniu, tak dla czystej przyjemności.
                        Ponadto lubię dobry film oraz herbatę, najlepiej w tym samym czasie
                    </p>
                </section>
            </div>        
            <div>
                <section #MySkills>
                    <p>
                        Obracam się swobodnie w HTML5, CSS w wersji 3, oraz JavaScripcie.
                        Ponad to znam podstawy kodowania w innych językach: C++, C#, PHP, Javie oraz umiem budować zapytania do baz danych.
                        Potrafię korzystać systemu kontroli wersji popularnego Gita oraz z repozytoriów zdalnych. Nistraszny mi ani terminal linuxow, ani wiersz poleceń.
                    </p>
                    
                    <p>
                        Jestem też obeznany w technologiach teleinformatycznych: potradię konfigurować centrale telefoniczne, konfigurować urządzenia sieciowe i serwery oparte o System windows serwer.
                    </p>
                    
                    <p>
                        Z innych mniej technicznych umiejętności mogę wymienić, komunikatywność, kreatywność, sumienność, zaangażowanie.
                        Mam też prawo jazdy kat. B, oraz potrafię pracować z innymi.
                    </p>
                </section>
            </div>
            <div>
                <section #MyPlans>
                    <p>
                        Planuję nauczyć się TypeScript, doskonalić swoje umiejętności w Angularze, poznać założenia innych frameworków takich jak Vue czy React, nauczyć się kożystania z Node.js.
                    </p>
                    
                    <p>
                        Chcę też nauczyć się techniki Mobile First oraz tachnologię PWA do tworzenia aplikacji dedykowanych urządzeniom przenośnym oraz wykorzystywać API dla lepszej komunikacji z serwerami.
                    </p>
                    <p>
                        Chcę też lepiej poznać nowe założenia wprowadzone wraz ze standardem ECMAScript6
                    </p>
                </section>
            </div>
            <div>
                <section #ContactME>
                    <p>Mój Email kontaktowy: <i>hCiesielski00@gmailcom</i></p>
                    <p>Numer telefonu: 787255974</p>     
                </section>
            </div>
        </div>
    </div>
    
</main>


