
section{
    position: absolute;
    margin: 20px auto;
    width: 70vw;
    left: 15vw;
    font-size: 1.3rem;
    border: 5px solid hsl(200, 100%, 80%);
    padding: 14px;
    background-color: hsl(200, 100%, 60%);
    color: whitesmoke;

    transform: translateX(0);
    opacity: 1;
    transition: transform 750ms ease-in-out, opacity 500ms ease-in-out;
    will-change: transform;
}
.section__hidden{
    transition: opacity 0ms ease-in-out, transform 750ms ease-in-out;
    transform: translateX(-25%);
    opacity: 0;
}
app-header{ 
    display: block;
    background-image:linear-gradient(to right, hsl(200, 100%, 100%), hsl(220, 100%, 60%) );
    padding: 15px;
    width: 100vw;
    color:hsl(220, 100%, 60);
    text-align: right;
    color: whitesmoke;
    border-bottom: 3px solid white;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image:linear-gradient(to right, hsl(200, 100%, 100%), hsl(220, 100%, 60%) );
    padding: 10px;
}
nav button{
    font-size: 1.3rem;
    background-color: transparent;
    border: 2px solid white;
    padding: 5px;
    color: white;
    margin-left: 7px;
}
.topic{
    color: hsl(200, 100%, 60%);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 20px;
    background-image: linear-gradient(to left, hsl(60,80%,80%), hsl(60, 100%, 80%));
    padding: 20px;
    border-radius: 20px;
}
