*{
--first-color--: hsl(10, 100%, 15%);
--font-color--:hsl(0, 10%, 90%);

}
body{
    background-color: var(--font-color--);
}
main{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 20px auto;
}

app-header{
    display: Flex;
    margin: 0;
    justify-content: flex-start;
    color: var(--font-color--);
    width: 100vw;
    background-color: var(--first-color--);
    padding: 7px;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    max-width: initial;
}
nav button{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 20px;
    background-color: var(--first-color--);
    color: var(--font-color--);
    border: var(--font-color--) 2px solid;

}
.infoCont{
    
    display: flex;
    width: 50vw;
    overflow-x: hidden;
    color: black;
    font-size: 1.3rem;
    
}
.mover{
    height: 100%;
    width: 100%;
    display: flex;
}
.infoCont div{
    display:flex;
    min-width: 100%;
    align-items:center;
}
.el1,.el2,.el3,.el4{
    transition: transform .5s ease-in-out;
    will-change: transform;
}
.el1{
    transform: translateX(0);
}
.el2{
    transform: translateX(-100%);
}
.el3{
    transform: translateX(-200%);
}
.el4{
    transform: translateX(-300%);
}

