<div class="topic"><span>Co potrafię:</span><fa-icon [icon]='faCheck'></fa-icon></div>
<p>
    Obracam się swobodnie w HTML5, CSS w wersji 3, oraz nowoczesnym JavaScripcie. 
</p>
<p>
    Ponad to znam podstawy kodowania w innych językach: C++, C#, PHP, Javie oraz umiem budować zapytania do baz danych.
    Potrafię korzystać Systemu kontroli wersji-popularnego Gita oraz z repozytoriów zdalnych.

</p>
<p>
    Z innych mniej technicznych umiejętności mogę wymienić, komunikatywność, kreatywność, sumienność, zaangażowanie.
    Mam też prawo jazdy kat. B.
</p>
