
body {
    margin: 0;
    margin-top: 5px;
    
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}
.topic{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 20px;
}
